@import url('/home/x3tr0v/.cache/wal/colors-waybar.css');

* {
    padding: 0 0;
    font-family:Fira Code;
    font-size: 13;
    margin-right: 3px;
    margin-left: 3px;
}

window#waybar {
    background: alpha(@background, 0.6);
    color: @foreground;
}

#workspaces button {
    padding: 0px 0px;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    border: none;
    background: none;
}

#workspaces button.active {
    border-bottom: 2px solid @foreground;
    border-radius: 0;
    color: @foreground;
}

#mode {
    color: @foreground;
}

#clock, #battery, #cpu, #memory,#idle_inhibitor, #temperature,#custom-keyboard-layout, #backlight, #network, #pulseaudio, #mode, #tray, #window,#custom-launcher,#custom-power,#custom-pacman {
    padding: 0 3px;
    color: @foreground;
}
